
.hero-area{
    margin: 10%;
    height: 90vh;
}

.hero-title {
    color: #000;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    z-index: 1;
}

.hero-description {
    color: #474444;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    z-index: 1;
}

.hero-buttons{
    display: flex;
    justify-content: center;
    z-index: 1;
}