
.hero-area{
    background-size: cover;
    height: 90vh;
    position: relative;
}

.hero-title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    z-index: 1;
}

.hero-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #474444;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    z-index: 1;
}

.hero-buttons{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}